/* body */
html body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(247,246,242);
    color: #282828;
    font-family: 'Rambla', sans-serif;
}

/* header */
#header_bar {
	height: 250px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: black;
	background-image: url('../img/header.png');
  	background-repeat: no-repeat;
	background-position: right; 
} 
#header_bar h1 {
    margin: 0px;
    padding: 25px 25px;
	font-family: 'Galindo', cursive;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	color: rgb(255,205,55);
}

/* navigation */
nav {  
    list-style: none;  
    text-align: center;
    font-size: 18px; 
    margin-bottom: 10px;
    /* box shadow */
    -webkit-box-shadow:  0px 5px 8px 0px rgb(204, 204, 204);    
    box-shadow:  0px 5px 8px 0px rgb(204, 204, 204);
}  
nav ul { 
    padding: 0px;
    margin: 0px;
} 
nav ul li { 
    display: inline;  
}  
nav ul li a {  
    display: inline-block;  
    padding: 15px 15px;  
    color: #282828;
    text-decoration: none;  
    font-weight: bold;  
    text-transform: uppercase;
}  
nav ul li a:hover {  
    padding: 15px 15px;  
    margin: 0; 
    text-decoration: underline;
} 

/* wrapper */
#wrapper {
	width: 75%;
    margin-left: auto;
    margin-right: auto;
} 

/* nav and footer gradients */
.gradient {   
    /* Old browsers */
    background-color: rgb(255,205,55);
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFBD32 0%, #FFF140 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFBD32 0%, #FFF140 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFBD32 0%, #FFF140 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFBD32), color-stop(1, #FFF140));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFBD32 0%, #FFF140 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFBD32 0%, #FFF140 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBD32', endColorstr='#FFF140',GradientType=0);
}

/* page core */  
h2 {
	font-weight: 700; 
}
div#core {  
	margin-left: 5%;
    display: block;  
    clear: both;  
    margin-bottom: 20px;  
}  

section#left {  
    width: 35%;  
    float: left;  
    margin: 0 15px;  
}  
section#right {  
    float: left;  
    width: 55%;  
} 

section#left h1 {
	font-size: 24px;
}  

/* title with ball icon */
.icontext {
	margin-top: 20px;
}
.icontext img {
	vertical-align: -5px;
}
.icontext h1 {
	display: inline;
	font-size: 24px;
	padding-left: 5px;
}

/* external link */
a.link {
    text-decoration: none;  
    font-weight: bold;
    color: #FFBD32;
}  
.link:hover { 
    text-decoration: underline;
    color: #FFBD32;
} 

/* emphasized text */
em {
	font-weight: bold;
    color: #FFBD32;
}

/* black and capital letters emphasized text */
em-capital {
	font-weight: bold;
	text-transform: uppercase;
}

/* phone number with icon */
.phone {
	padding-top: 2px;
	padding-bottom: 2px;
}
.phone img {
	vertical-align: -8px;
}
.phone p {
	padding-left: 5px;
	display: inline;
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
}
table, td {
	border: 1px dotted #FFBD32;
}
td {
	padding: 4px 8px 4px 8px;
}

/* footer */
footer {  
	overflow: auto;
    margin: 0px;
    /* box shadow */
    -webkit-box-shadow:  0px -5px 8px 0px rgb(204, 204, 204);    
    box-shadow:  0px -5px 8px 0px rgb(204, 204, 204);
}
footer #contact {
	text-align: right;
	float: left;
	width: 42%;
	padding-right: 3%;
}
footer #author {
	text-align: left;
	float: left;
	width: 42%;
	padding-left: 3%;
}
footer #author p {
	padding-bottom: 0px;
	margin-bottom: 3px;
}

/* mailto links */
.mailto {
    text-decoration: none; 
    color: #282828;
}  
.mailto:hover { 
    text-decoration: underline;
    color: #282828;
}

/* map */
#googleMap {
	width: 100%; 
	height: 450px;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* galleria */
#galleria {
	padding-left: 10%;
	width: 80%;
	height: 600px;
	margin-top: 30px;
	margin-bottom: 35px;
}

/* clearfix */ 
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}